@page "/CreateBlog"
@using System.Text.Json;
@using Core.Interfaces;
@using System.Text;
@using global::Data.Dtos;
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<CreateBlog> Logger
@inject ISnackbar Snackbar

<h3>CreateBlog</h3>
@if (Topics is not null && Users is not null)
{
	<EditForm Model="Model" OnValidSubmit="OnValidSubmit">
		<MudSelect T="int" Label="User" Variant="Variant.Outlined" @bind-Value="Model.UserId">
			@foreach (var item in Users)
			{
				<MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
			}
		</MudSelect>
		<MudSelect T="int" Label="User" Variant="Variant.Outlined" @bind-Value="Model.TopicId">
			@foreach (var item in Topics)
			{
				<MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
			}
		</MudSelect>

		<MudTextField T="string" Label="Text" Variant="Variant.Outlined" @bind-Value="Model.Content" Lines="3" />

		<MudButton Class="mt-3" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</MudButton>
	</EditForm>
}
else
{
	<div class="loader"></div>
}

@code {
	private BlogCreateEditDto Model { get; set; } = new();
	public HttpClient Client { get; set; }
	public List<TopicDto> Topics { get; set; }
	public List<UserDto> Users { get; set; }

	string text = "";

	protected async override Task OnInitializedAsync()
	{
		Client = HttpClientFactory.CreateClient("api");

		var userResponse = await GetFromUrlAsync<APIResponse<UserDto>>("user", Client);
		Users = (userResponse.Result as ICollection<UserDto>).ToList();

		var topicResponse = await GetFromUrlAsync<APIResponse<TopicDto>>("topic", Client);
		Topics = (topicResponse.Result as ICollection<TopicDto>).ToList();
		StateHasChanged();
	}

	private async Task OnValidSubmit()
	{
		if (Model.UserId <= 0 || Model.TopicId <= 0)
			return;
		Model.Created = DateTime.Now;
		Model.Updated = DateTime.Now;
		var response = await PostToUrlAsync<APIResponse<BlogDto>>("blog", Model, Client);
		if (response.IsSuccess)
			Snackbar.Add("Blog erstellt!", Severity.Success);
		Model = new();
		StateHasChanged();
	}

	static JsonSerializerOptions Options { get; } = new JsonSerializerOptions()
		{
			Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping,
			PropertyNameCaseInsensitive = true
		};

	public static async Task<T> GetFromUrlAsync<T>(string url, HttpClient client, CancellationToken token = default)
	{
		HttpResponseMessage response = await client.GetAsync(url);
		response.EnsureSuccessStatusCode();
		var responseBody = await response.Content.ReadAsStringAsync() ?? throw new ArgumentException("Response is null");
		return JsonSerializer.Deserialize<T>(responseBody, Options) ?? throw new ArgumentException($"Json could not deserialize this string: {responseBody}");
	}
	public static async Task<T> PostToUrlAsync<T>(string url, object bodyObject, HttpClient client, CancellationToken token = default)
	{
		string body = JsonSerializer.Serialize(bodyObject, Options);
		var request = new HttpRequestMessage(HttpMethod.Post, url)
			{
				Content = new StringContent(body, Encoding.UTF8, "application/json")
			};
		var response = await client.SendAsync(request);
		response.EnsureSuccessStatusCode();
		var responseBody = response.Content.ReadAsStringAsync().Result ?? throw new ArgumentException("Reponse of api is null");
		return JsonSerializer.Deserialize<T>(responseBody, Options) ?? throw new ArgumentException($"Json could not deserialize this string: {responseBody}");
	}
}
